.modalWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1300;
}


.modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9fafd;
    width: 687px;
    height: 397px;
    padding: 20px;
    border-radius: 8px;
    z-index: 1301;
    padding: 30px;
}

.closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
}

.modalImage {
    width: 80.09px;
    height: 69px;
    margin-bottom: 26px;
}

.modalButtonGroup {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 26px;

}

.modalDiscussion {
    width: 212px;
}