@import url('https://fonts.googleapis.com/css?family=Plus%20Jakarta%20Sans:700|Urbanist:400');

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.card {
    padding: 50px 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 5px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
  }
  
  .title {
    width: 15vw;
  }