.wrapper {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #f9fafdd3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px 8vw;
    backdrop-filter: blur(10px);
    .toolbar {
      display: flex;
      justify-content: space-between;
      padding: 0 16px;
    }
    .logo {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 700;
      color: #a6d487;
      text-decoration: none;
      &:hover {
        color: darken(#a6d487, 10%);
      }
    }
    .navLinks {
      display: flex;
      gap: 32px;
      .link {
        color: #333;
        text-decoration: none;
        padding: 8px 16px;
        &:hover {
          color: darken(#333, 10%);
        }
        &.activeLink {
          color: #78ceb4;
        }
      }
    }
    .buttonGroup {
      display: flex;
      gap: 16px;
    }
  }
}