.wrapper {
    padding: 2rem;
    margin: 2rem;
    background-color: transparent;
    width: 650px;
}

.title {
    text-align: left;
    margin-bottom: 8px;

}

//   .form {
//   }
//   .input {
//   }

.loginText {
    text-align: center;
}

.loginLink {
    color: #78ceb4;
    text-decoration: none;
}