.wrapper{
    background-color: transparent;
    width: 50vw;
}

.title {
    margin-bottom: 2rem;
}

// .form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 10px; // Space between form elements
//     width: 50vw;
  
//     .input {
//       width: 50vw; // Ensure inputs take full width of the form
//     }
//   }